.contact-us {
  margin-bottom: 124px;

  &__bg {
    background-image: var(--color-gradient);
  }
  
  &__inner {

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    
    h1 {
      line-height: 64px;
      font-size: 48px;
      max-width: 487px;
      
      @media (max-width: 1024px) {
        max-width: unset;
        text-align: center;
        line-height: 40px;
        font-size: 32px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 8px;
      
      @media (max-width: 1024px) {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }
  
  &__container {
    width: 496px;
    background: var(--color-4);
    border-radius: 24px;
    padding: 32px;
    
    @media (max-width: 1024px) {
      width: 100%;
      padding: 20px;
    }
  }

  form {
    gap: 24px;

    input,
    select {
      padding: 16px;
      border: unset;
      font-size: 24px;
      color: var(--color-6);
      line-height: 32px;
      font-weight: 400;
      border-bottom: 1px solid var(--color-6);
    }

    button[type="submit"] {
      justify-content: center;
      background: var(--color-6);
      color: var( --color-4);

      &::after {
        filter: invert(1);
      }

      &:hover {
        background-color: var(--color-5);
        color: var(--color-6);
        cursor: pointer;
      }
    }

    select:focus,
    input:focus {
      outline: none;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L8 8.5L15 1.5' stroke='%23141414' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position-x: 96%;
      background-position-y: 30px;
      @media screen and (max-width: 1024px) {
        background-position-y: 22px;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
  }
}

  ::placeholder {
    border: unset;
    font-size: 24px;
    color: var(--color-6);
    line-height: 32px;
    font-weight: 400;

    @media (max-width: 1024px) {
      font-size: 17px;
      line-height: 20px;
    }
  }
}

.page-template-templatescontact-php {
	background-image: var(--color-gradient);
}