.hero {
  &--rounded {
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }
    
    &--black-bg {
      background-color: var(--color-6);
      background-image: none;
    }
    
    .container {
      @media (max-width:1024px) {
        gap: 40px;
      }
      
      @media (max-width:767px) {
        flex-direction: column;
        gap: 0;
      }
    }
    
    .section-header__gradient {
      top: 0;
      right: 0;
      left: auto;
      z-index: -1;
      filter: unset;
      
      @media (max-width: 767px) {
        top: -120px;
      }
    }
    
    &-services {
      margin-top: 0;
      overflow: hidden;
      z-index: 1;
      margin: 0;

      h1 {
        color: var(--color-4);
        max-width: 494px;
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 16px;
        
        @media (max-width:767px) {
        font-size: 32px;
        text-align: center;
        max-width: unset;
      }
    }
  
    p {
      color: var(--color-4);
      max-width: 494px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 32px;
      
      @media (max-width: 767px) {
        text-align: center;
        max-width: unset;
      }
    }
  
    &__content {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    
    &__logos {
      max-width: 354px;
      gap: 32px 44px;
      
      @media (max-width: 767px) {
        max-width: unset;
        justify-content: center;
      }
    }
  }
  }

  .contact-us.services{
  margin-bottom: 0;
}