.hero {
  background-image: var(--color-background-hero);
  padding-block: 190px 124px;

  &--rounded {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  &__tags {
    margin-bottom: 16px;
    padding: 6px 16px;

    @media (max-width: 767px) {
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .tag {
      @media (max-width: 767px) {
        font-size: 10px;
      }
    }
  }

  .btn {
    margin-top: 40px;
    line-height: 1.7;
  }

  .h1 {
    span {
      width: 285px;
      height: 113px;
      display: inline-block;
      border-radius: 100px;
      margin-left: 24px;
      overflow: hidden;
  
      @media (max-width: 1024px) {
        display: none;
      }

      video, img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
