.pricing-plan {
   &.pricing {
    max-width: 363px;
    width: 100%;

    @media (max-width: 1024px) {
      max-width: unset;
      border-radius: 20px;
    }
  }
  
  .section-header__gradient {
    left: auto;
    right: 189px;
    filter: unset;
    top: -97px;
    user-select: none;
  }

  &__container {
    max-width: 1130px;
    padding: 0 20px;
    margin: 0 auto 175px auto;
  }

  &__contentbox {
    h2 {
      margin-bottom: 20px;
    }

    p {
      max-width: 585px;
      margin-bottom: 56px;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }

  .price {
    font-size: 72px;
    
    @media (max-width: 767px) {
      font-size: 40px;
    }
  }

  &__wrapper {

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__cta {
    padding: 18px 72px;
    white-space: nowrap;
    background-repeat: no-repeat;
    max-width: 267px;
    margin-top: 32px;
  }
  
  &--one {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: var(--color-5);
    max-width: 363px;
    width: 100%;
    margin-top: 20px;

    @media (max-width:1024px) {
      max-width: unset;
      
    }

    .pricing-plan__features {
      p {
        min-height: 52px;
        padding: 16px 0 16px 48px;
        border-top: 1px solid;
        border-image: var(--color-gradient);
        border-image-slice: 1;
  
        @media (max-width: 767px) {
          padding: 20px;
        }
  
        p {
          font-size: 15px;
          line-height: 1.2;
        }
      }
    }

    .pricing-plan__details {
      
      @media (max-width: 1024px) {
        max-width: unset;
        border-radius: 20px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 767px) {
        padding: 20px;
      }

      img {
        margin-bottom: 16px;
        max-width: unset;
      }
    }
  }

  &--second {
    background-image: var(--color-background-hero);
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 20px;

    &.pricing {
      max-width: 363px;
      width: 100%;
  
      @media (max-width: 1024px) {
        max-width: unset;
        border-radius: 20px;
      }
    }

    .pricing-plan__bestvalue {
      max-width: 118px;
      background-color: var(--color-5);
      font-size: 14px;
      padding: 5px 15px;
      line-height: 1.7;
      border-radius: 100px;
      top: -16px;
      left: 36%;

      @media (max-width: 1024px) {
        left: 41%;
        top: -1px;
        max-width: unset;
        border-radius: 20px;
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      span {
        display: block;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        margin-bottom: 32px;
      }
    }

    .pricing-plan__info {
      border-top: 1px solid var(--color-4);
      border-image: none;
    }
  }

  &--third {
    background-color:var(--color-5);
    background-image: none;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-top: 20px;

    @media (max-width: 1024px) {
      border-radius: unset;
      margin-top: 0;
      border-radius: 20px;
    }

    .pricing-plan__cta {
      background-image: var(--color-gradient);
    }
  }

  &__details {
    padding: 48px;

    @media (max-width: 1024px) {
      max-width: unset;
      border-radius: 20px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 767px) {
      padding: 40px;
    }

    span {
      display: block;
      font-size: 32px;
      line-height: 1.2;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      margin-bottom: 32px;
    }

    h1 {
      font-size: 64px;
      margin-bottom: 32px;
    }
  }

  &__features {
    div {
      max-width: 363px;
      height: 52px;
      padding: 16px 48px 16px 48px;
      gap: 8px;
      border-top: 1px solid;
      border-image: var(--color-gradient);
      border-image-slice: 1;

      @media (max-width: 1024px) {
        max-width: unset;
      }

      @media (max-width: 767px) {
        padding: 20px;
        height: unset;
      }

      p {
        font-size: 15px;
        line-height: 1.2;
      }
    }
  }
}

